/*Darkest Grey = #A63F3A
Medium Grey = #8A817C
Lightest Grey = #BCB8B1
Off White = #F4F3EE
Red = #C36346 */
*{
    margin:.2%;
}

#headArea {
    padding-bottom:2%;
}

#headArea h1 {
    float:left;
    color: #A63F3A;
}

#headArea li {
    display:inline;
    float:right;
    padding-left: 2%;
}

#headArea li a, a:link, a:visited, a:active {
    color:#8A817C;
    list-style: none;
    text-decoration: none;
    font-size:large;
    transition: 0.2s;
}

#headArea a:hover {
    font-size:24px;
    color: #A63F3A;
    transition: 0.2s;
}