
*{
    margin:.2%;
} 

#headArea {
    padding-bottom:2%;
    background-color:black;
    margin:0;
}

#headArea h1 {
    float:left;
    color: #A63F3A;
}

#headArea li {
    display:inline;
    float:right;
    padding-left: 2%;
}

#headArea li a, a:link, a:visited, a:active {
    color:#8A817C;
    list-style: none;
    text-decoration: none;
    font-size:large;
    transition: 0.2s;
}

#headArea a:hover {
    font-size:24px;
    color: #A63F3A;
    transition: 0.2s;
}

#projectsContainer{
    text-align: center;
    vertical-align: middle;
}

.box1 {
    border:1px solid #A63F3A ;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}

.box1 img{
    float:left;
    padding:10px;
}

.box2 {
    border:1px solid #A63F3A ;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}

.box2 img{
    float:right;
    padding:10px;
}